<?xml version="1.0" ?>
<robot name="omtp" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================================================== -->
  <!-- INITIAL SETUP OF WORLD LINK AND WORLD_INTERFACE LINK -->
  <!-- ==================================================== -->
  <!-- world -->
  <link name="world" />

  <!-- world_interface. Makes it convenient to move the whole environment according to the world origin -->
  <link name="world_interface"/>

  <!-- world<->world_interface joint -->
  <joint name="world_interface_to_world" type="fixed">
    <parent link="world" />
    <child link="world_interface" />
  </joint>


  <!-- ==================================================== -->
  <!-- Fib14 building -->
  <!-- ==================================================== -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/fib14/fib14.urdf.xacro"/>
  <xacro:fib14_urdf fib14_parent="world_interface"/>


  <!-- ==================================================== -->
  <!-- Panda robots -->
  <!-- ==================================================== -->
  <!-- dual arm -->
  <xacro:arg name="arm_id_1" default="panda_1" />
  <xacro:arg name="arm_id_2" default="panda_2" />

  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>

  <!-- Panda 1 arm with gripper -->
  <xacro:panda_arm arm_id="$(arg arm_id_1)" connected_to="robot1_pedestal_link"  xyz="0 0 0.95" safety_distance="0.03"/>
  <xacro:hand ns="$(arg arm_id_1)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id_1)_link8" safety_distance="0.03"/>

<!-- Panda 2 arm with gripper -->
  <xacro:panda_arm arm_id="$(arg arm_id_2)" connected_to="robot2_pedestal_link"  xyz="0 0 0.95" safety_distance="0.03"/>
  <xacro:hand ns="$(arg arm_id_2)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id_2)_link8" safety_distance="0.03"/>

  <!-- ==================================================== -->
  <!-- Robot 1 pedestal -->
  <!-- ==================================================== -->
  <xacro:include filename="$(find omtp_support)/urdf/robot_pedestal/robot_pedestal.urdf.xacro"/>
  <xacro:robot_pedestal_urdf pedestal_prefix="robot1_" pedestal_parent="world_interface" pedestal_height="0.95">
    <origin xyz="-1 7.3 0.0" rpy="0 0 0"/>
  </xacro:robot_pedestal_urdf>


  <!-- ==================================================== -->
  <!-- Robot 2 pedestal -->
  <!-- ==================================================== -->
  <xacro:include filename="$(find omtp_support)/urdf/robot_pedestal/robot_pedestal.urdf.xacro"/>
  <xacro:robot_pedestal_urdf pedestal_prefix="robot2_" pedestal_parent="world_interface" pedestal_height="0.95">
    <origin xyz="-1 2.5 0.0" rpy="0 0 0"/>
  </xacro:robot_pedestal_urdf>


  <!-- ==================================================== -->
  <!-- module -->
  <!-- ==================================================== -->

  <!-- module 1 -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/festo_straight_module/festo_straight_module.urdf.xacro"/>

  <xacro:festo_module_urdf module_prefix = "module1_" festo_module_parent="world_interface">
    <origin xyz="-0.3 7.4 0.0" rpy="0 0 0" />
  </xacro:festo_module_urdf>

  <!-- module 2 -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/festo_straight_module/festo_straight_module.urdf.xacro"/>

  <xacro:festo_module_urdf module_prefix = "module2_" festo_module_parent="world_interface">
    <origin xyz="-0.3 6.2 0.0" rpy="0 0 0" />
  </xacro:festo_module_urdf>

   <!-- module 3 -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/festo_robot_module/festo_robot_module.urdf.xacro"/>

  <xacro:festo_robot_module_urdf module_prefix = "module3_" festo_module_parent="world_interface" >
   <origin xyz="-0.3 5.0 0.0" rpy="0 0 0" />
  </xacro:festo_robot_module_urdf>

 <!-- module 4 -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/festo_t_module/festo_t_module.urdf.xacro"/>

  <xacro:festo_t_module_urdf module_prefix = "module4_" festo_module_parent="world_interface">
   <origin xyz="-0.3 3.8 0.0" rpy="0 0 0" />
  </xacro:festo_t_module_urdf>

  <!-- module 5 -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/festo_straight_module/festo_straight_module.urdf.xacro"/>

  <xacro:festo_module_urdf module_prefix = "module5_" festo_module_parent="world_interface">
    <origin xyz="-0.3 2.6 0.0" rpy="0 0 0" />
  </xacro:festo_module_urdf>

  <!-- module 6 -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/festo_straight_module/festo_straight_module.urdf.xacro"/>

  <xacro:festo_module_urdf module_prefix = "module6_" festo_module_parent="world_interface">
    <origin xyz="-1.3 3.8 0.0" rpy="0 0 55" />
  </xacro:festo_module_urdf>

  <!-- module 7 -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/festo_bypass_module/festo_bypass_module.urdf.xacro"/>

  <xacro:festo_bypass_module_urdf module_prefix = "module7_" festo_module_parent="world_interface">
    <origin xyz="-2.5 3.8 0.0" rpy="0 0 1.6" />
  </xacro:festo_bypass_module_urdf>

  <!-- ==================================================== -->
  <!-- objects -->
  <!-- ==================================================== -->
<!-- pallet -->
  <xacro:include filename="$(find aau_lab_ros_models)/urdf/eu_pallet/eu_pallet.urdf.xacro"/>

  <xacro:eu_pallet_urdf eu_pallet_prefix = "pallet1_" eu_pallet_parent="world_interface">
    <origin xyz="1.5 3.8 0.0" rpy="0 0 0" />
  </xacro:eu_pallet_urdf>

<!-- box -->


</robot>
